*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cuerpo
{
    display: flex;
    flex-direction: row;
}
.body
{
    display: flex;
    flex-direction: column;
    border: 10px solid grey;
    border-radius: 5px;
    height: 100vh;
    width: 50vw;
    padding: 5px;
    gap: 5px;
}
.head
{
    border: 5px solid;
    border-color:darkolivegreen;
    height: 7rem;
    padding: 5px;
}
.nav
{
    border: 5px solid rgb(183, 136, 226);
    height: 3rem;
}
.center
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    width: 27rem;
    border: 5px solid rgb(24, 89, 185);
    padding: 5px;
    gap: 4px;
}
/* .seccionando
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */
.column_head
{
    border: 5px solid darkolivegreen;
    height: 3rem;
    margin: 2px;
    align-items: flex-start;
}
.column_isolate
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section
{
    border: 5px solid violet;
    padding: 5px;
}
.footer
{
    border: 5px solid olivedrab;
    padding: 5px;
}
.piese
{
    display: flex;
    height: 4rem;
    padding: 5px;
}
.diver
{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(184, 214, 13);
    height: 30rem;
    width: 15rem;
    gap: 5px;
    padding: 5px;
}
.aside
{
    border: 5px solid turquoise;
    height: 14rem;
}